h3,
form {
  width: 50%;
  margin: auto;
}

h3,
label,
button {
  font-family: "Brandon Grotesque", sans-serif;
  font-weight: 500;
}

h3 {
  text-align: center;
  color: #ec5d57;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

form {
  width: 50%;
  margin: auto;
  font-size: 0.7rem;
}

label {
  margin-left: 0.75rem;
  letter-spacing: 0.5px;
}

input,
select {
  border-radius: 5px;
  border-width: 1px;
  border-color: #b1b1b1;
  height: 3em;
  width: 100%;
  font-family: AtlasGrotesk, sans-serif;
}

input {
  padding: 0.65rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

select {
  background-color: #f3f3f3;
  font-weight: 700;
  font-size: 0.75rem;
}

button {
  background-color: #ec5d57;
  color: #fff;
  border-width: 0;
  border-radius: 50px;
  font-size: 1rem;
  padding: 0.3rem 1.25rem;
}

.container {
  padding-top: 0.75rem;
  text-align: right;
}

input::placeholder {
  color: #b1b1b1;
}
