.container {
  margin: auto;
  max-width: 800px;
}

.row {
  display: flex;
}

.column-one-fourth {
  flex-basis: calc(100% / 4);
}

.column-one-third {
  flex-basis: calc(100% / 3);
}

.column-two-third {
  flex-basis: calc(200% / 3);
}

.items {
  width: 100%;
}
