* {
  font-family: Karla, sans-serif;
}

p {
  margin-top: 0;
  line-height: 2rem;
}

button {
  background-color: white;
  color: #d14c45;
  width: 10rem;
  height: 2rem;
  border-color: #d14c45;
  font-weight: 700;
  border-width: 2px;
  border-style: solid;
  margin-top: 3rem;
}

h1 {
  font-weight: bold;
  font-size: 3em;
  letter-spacing: 0.3rem;
  margin-bottom: 1.5rem;
}

h3 {
  margin-top: 3rem;
}

.container {
  width: 90%;
}

.row {
  display: flex;
}

.column-56 {
  flex-basis: calc(100% / 1.78);
}

.column-half {
  flex-basis: calc(100% / 2);
}

.bm-2r {
  margin-bottom: 2rem;
}

.column-margin {
  margin: 0 5rem;
}

.ta-c {
  text-align: center;
}

.ta-l {
  text-align: left;
}

.w-55 {
  width: 55%;
}

.pdr-5r {
  padding-right: 5rem;
}

.m-auto {
  margin: auto;
}

.m-0-auto {
  margin: 0 auto;
}
